/* MatrixTable.css */

.table-container {
    @apply flex flex-col p-5 gap-4;
}

.table-wrapper {
    overflow-x: auto;
}

.table-route-controls {
    @apply flex flex-row justify-between gap-3 bg-teal-950 rounded-b-xl h-full p-4;
}

.table-holds {
    @apply border-collapse;
}

.table-route {
    @apply border-collapse table-fixed min-w-56;
}

.table-h {
    @apply text-xl font-bold text-white bg-black rounded-lg px-3 py-1 max-w-max shadow-lg;
}
.table-wrapper th,
.table-route td {
    @apply p-0 h-10 w-12 max-h-10 max-w-12 min-h-10 min-w-12 text-center border border-solid border-green-600;
}

.table-holds {
    @extend .table-route;
}

.hold-image {
    @apply h-10 w-12 max-h-10 max-w-12;
}

.selected-hold-member-image {
    @apply h-6 w-7 max-h-6 max-w-7 absolute right-0 top-0;
}

.selected-hold {
    background-color: #d4f8d6 !important;
}

.highlighted {
    background-color: #f8d4d4 !important;
}

.selected-hold-previous-position-cell {
    background-color: #f2af44 !important;
}

.previous-position-cell {
    background-color: #fbf6ca !important;
}

.bg-route-setting-table {
    @apply bg-cyan-800;
}

.submit {
    @apply w-28 h-11 px-1 inline-block text-sm font-semibold text-center no-underline rounded-md text-white transition duration-300 ease-in-out cursor-pointer bg-purple-600 hover:bg-purple-700 disabled:cursor-not-allowed disabled:opacity-70;
}

.action-button {
    @apply text-sm font-semibold py-1 px-3 min-h-8 rounded-full shadow-md max-w-max max-h-min disabled:opacity-50 disabled:cursor-not-allowed;
}

.action-button-blue {
    @apply action-button bg-blue-500 hover:bg-blue-600 text-white;
}

.action-button-dark-blue {
    @apply action-button bg-blue-700 hover:bg-blue-800 text-white;
}

.action-button-orange {
    @apply action-button bg-orange-400 hover:bg-orange-500 text-white;
}

.action-button-green {
    @apply action-button bg-green-600 hover:bg-green-700 text-white;
}

.interactable-container {
    @apply w-auto h-11 bg-white text-sm first-line:flex justify-center items-center px-3 transition duration-300 border border-gray-300 rounded-lg hover:bg-gray-300 active:bg-gray-200;
    transition: background-color 0.3s;
    border-radius: 5px;
    border: 1px solid #ddd;
    &:hover,
    &:active:not(.selected-hold) {
        background-color: #eeeeee;
    }
}

.trash-img {
    @apply h-6 w-6 max-h-6 max-w-6;
}

.used {
    @apply bg-amber-300 hover:bg-amber-300;
}
